<div class="card-container " >
    <div class="product-card" *ngFor="let p of productdata">
		<div class="product-tumb">
			<img [src]="p.image" alt="">
		</div>
		<div class="product-details">
			<span class="product-catagory">{{p.category}}</span>
			<h4><a href="">{{p.title}}</a></h4>
			<p>{{p.description|limitTo:20}}</p>
			<div class="product-bottom-details" style="margin-bottom:15px;">
				<div class="product-price">${{p.price}}</div>
				<!-- <div class="product-links">
					<a href=""><i class="fa fa-heart"></i></a>
					<a href=""><i class="fa fa-shopping-cart"></i></a>
				</div> -->
                
			</div>
            <hr>
            <div class="btnaddtocart">
                <button (click)="addtocart(p)">add-to-cart</button>
            </div>
		</div>
	</div>
    <!-- second product -->
    <!-- <div class="product-card">
		<div class="product-tumb">
			<img src="https://i.imgur.com/xdbHo4E.png" alt="">
		</div>
		<div class="product-details">
			<span class="product-catagory">Women,bag</span>
			<h4><a href="">Women leather bag</a></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
			<div class="product-bottom-details">
				<div class="product-price">$230.99</div>
				<div class="product-links">
					<a href=""><i class="fa fa-heart"></i></a>
					<a href=""><i class="fa fa-shopping-cart"></i></a>
				</div>
			</div>
		</div>
	</div> -->
</div>
