<div class="container">
    <div class="row" style="margin-top:10%; ">
        <div class="col-md-8 mx-auto">
            <div class="formdata" style="background-color:rgb(181, 137, 137);padding:10px 10px">
                <form [formGroup]="myForm" (ngSubmit)="getformdata()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">First Name</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="Firstname" placeholder="First Name">
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="Lastname" placeholder="Last Name">
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Mobile No</label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="Mobileno" placeholder="Mobile No">
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Address</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="Address" placeholder="Address">
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="Email" placeholder="Email">
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Age</label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="Age" placeholder="Age">
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">DOB</label>
                            <input type="Date" class="form-control" id="exampleFormControlInput1" formControlName="Dob" placeholder="Date">
                          </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="mb-3 mt-3 ">
                            <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Submit Data</button>
                          </div>
                    </div>
                </div>
                
            </form>
              
               </div>
        </div>
    </div>
  
</div>